<div class="main-container">
  <mat-card class="card">
  <form *ngIf="prueba == false" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <!--TITTLE DEL REGISTRO-->
    <div>
      <h1>Registro</h1>
    </div>
    <!--USERNAME-->
    <div class="input-container">
    <mat-form-field>
      <input  id="username-input" matInput type="text" placeholder="Nombre de usuario" name="username"
        #username="ngModel" [(ngModel)]="user.username" required />
      </mat-form-field>
      <span *ngIf="username.touched && !username.valid" style="color:red">*Debe ingresar un nombre*</span>
    <!--PASSWORD-->
    <mat-form-field>
      <input matInput id="password" type="password" name="password" placeholder="Contraseña"
        #password="ngModel" [(ngModel)]="user.password" required />
      </mat-form-field>
      <span *ngIf="password.touched && !passLength()" style="color:red;">*La contraseña debe tener al menos 6
        caracteres*</span>
    <!--PASSWORD CONFIRM-->
    <mat-form-field>
      <input matInput id="confirmpass" type="password"  name="passwordConfirm"
        #passwordConfirm="ngModel" [(ngModel)]="passConfirm" placeholder="Confirmar contraseña" required />
    </mat-form-field>
    <span *ngIf="passwordConfirm.touched && passwordConfirm.value != password.value" style="color:red">Las contraseñas no coinciden</span>
    <!--FIRSTNAME-->
    <mat-form-field>
      <input matInput  type="text" placeholder="Firstname" name="firstName" #firstName="ngModel"
        [(ngModel)]="user.firstName" />
    </mat-form-field>
    <!--LASTNAME-->
    <mat-form-field>
      <input matInput type="text" class="formRow--input js-input" placeholder="Lastname" name="lastName" #lastName="ngModel"
        [(ngModel)]="user.lastName" />
    </mat-form-field>    
    <!--NICK-->
    <mat-form-field>
      <input matInput type="text" placeholder="Nuevo nick" name="nick" #nick="ngModel"
        [(ngModel)]="user.nick" required />
    </mat-form-field> 
      <span *ngIf="nick.touched && !nick.valid" style="color:white">*Debe ingresar un nick*</span>
    </div>  
    <!--IMAGE UPLOAD-->
    <!-- <input type="File"  (change)="processFile($event)"> -->
    <!--REGISTER BUTTON-->
    <button mat-raised-button color="primary" type="submit" value="Registrarse" id="btn" [disabled]="!registerForm.form.valid">Registrarse</button>
  </form>
  <mat-form-field *ngIf="prueba" >
    <ngx-mat-file-input  placeholder="Subir imagen.."  (change)="processFile($event)"></ngx-mat-file-input>
  </mat-form-field>
</mat-card>
</div>