<div class="main-container">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="login-form">
    <!--TITTLE DEL REGISTRO-->
    <div id="register-tittle-container">
      <h1>Registro</h1>
    </div>
    <!--USERNAME-->
    <label for="name" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Nombre de usuario" name="username"
        #username="ngModel" [(ngModel)]="user.username" required />
    </label>
    <span *ngIf="username.touched && !username.valid" style="color:white">*Debe ingresar un nombre*</span>
    <!--PASSWORD-->
    <label for="password" class="formRow--input-wrapper js-inputWrapper">
      <input id="password" type="password" class="formRow--input js-input" name="password" placeholder="Contraseña"
        #password="ngModel" [(ngModel)]="user.password" required />
      <span *ngIf="password.touched && !passLength()" style="color:white;">*La contraseña debe tener al menos 6
        caracteres*</span>
    </label>
    <!--PASSWORD CONFIRM-->
    <label for="password-confirm" class="formRow--input-wrapper js-inputWrapper">
      <input id="confirmpass" type="password" class="formRow--input js-input" name="password-confirm"
        placeholder="Confirmar contraseña" required />
      <span id="not_coincidence" style="color:white"></span>
    </label>
    <!--FIRSTNAME-->
    <label for="name" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Firstname" name="firstname" #firstname="ngModel"
        [(ngModel)]="user.firstname" />
    </label>
    <!--LASTNAME-->
    <label for="name" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Lastname" name="lastname" #lastname="ngModel"
        [(ngModel)]="user.lastname" />
    </label>
    <!--NICK-->
    <label for="nick" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Nuevo nick" name="nick" #nick="ngModel"
        [(ngModel)]="user.nick" required />
      <span *ngIf="nick.touched && !nick.valid" style="color:white">*Debe ingresar un nick*</span>
    </label>
    <!--IMAGE-->
    <label for="nick" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Prueba para imagen" />
    </label>
    <input type="submit" value="Registrarse" id="btn" [disabled]="!registerForm.form.valid" />
  </form>
  <div id="button-myProfile" style="display:none">
    <a id="btn" [routerLink]='["/feed"]'>Ir a mi perfil</a>
  </div>
</div>
<!-- <ngx-spinner bdColor="rgba(51,51,51,0.6)" size="large" color="#fff" type="pacman"></ngx-spinner> -->