.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
  }
  .card{
    display: block !important;
      text-align: center;
      width: 100%;
      margin-top:19%;
      padding-bottom:29%;
  }
  .input-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .input-container > * {
      width: 75%;
    }