<div class="main-container">
    <mat-card class="card">
      <!--TITTLE DEL REGISTRO-->
      <div>
          <h1>Registro</h1>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value.username, registerForm.value.password, registerForm.value.nickName, registerForm.value.firstName, registerForm.value.lastName, registerForm.value.email)">
      <!--USERNAME-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Usuario" formControlName="username" required>
          <mat-error *ngIf="registerForm.controls.username.invalid">Ingresa un usuario</mat-error>
        </mat-form-field>
      </div>
      <!--PASSWORD-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Contrasenia" formControlName="password" required>
          <mat-error *ngIf="registerForm.controls.password.invalid">Ingresa una contrasenia mayor a 6 caracteres</mat-error>
        </mat-form-field>
      </div>
      <!--CONFIRM PASSWORD-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Confirmar contrasenia" formControlName="confirmPassword" [errorStateMatcher]="errorMatcher" required>
          <mat-error *ngIf="registerForm.hasError('passwordsDoNotMatch')">Son diferentes</mat-error>
        </mat-form-field>
      </div>
      <!--FIRSTNAME-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Firstname" formControlName="firstName">
          <mat-error *ngIf="registerForm.controls.firstName.invalid">Ingrese un firstName</mat-error>
        </mat-form-field>
      </div>
      <!--LASTNAME-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Lastname" formControlName="lastName">
          <mat-error *ngIf="registerForm.controls.lastName.invalid">Ingrese un lastName</mat-error>
        </mat-form-field>
      </div>
      <!--EMAIL-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="email" formControlName="email" required>
          <mat-error *ngIf="registerForm.controls.email.invalid">Ingrese un email</mat-error>
        </mat-form-field>
      </div>
      <!--NICKNAME-->
      <div class="input-container">
        <mat-form-field id="username-input" color="primary">
          <input matInput placeholder="Nickname" formControlName="nickName" required>
          <mat-error *ngIf="registerForm.controls.nickName.invalid">Ingrese un nickname</mat-error>
        </mat-form-field>
      </div>
      <div>
       <!-- <input *ngIf="" type="file" formControlName="image" (change)="processFile($event)"> -->
      </div>
      <button mat-raised-button color="primary" type="submit">Registrarme</button>
      </form>
  </mat-card>
  </div>