<div class="main-container">
  <form #loginForm="ngForm" class="login-form" (ngSubmit)="onSubmit()">
    <!--TITTLE DEL LOGIN-->
    <h1 id="login-tittle">Login</h1>
    <!--USER-->
    <label for="name" class="formRow--input-wrapper js-inputWrapper">
      <input type="text" class="formRow--input js-input" placeholder="Usuario" name="name" #name="ngModel"
        [(ngModel)]="user.name" required />
    </label>
    <span *ngIf="name.touched && !name.valid">Ingrese un usuario</span>
    <!--PASSWORD-->
    <label for="password" class="formRow--input-wrapper js-inputWrapper">
      <input type="password" class="formRow--input js-input" name="password" placeholder="Contraseña" />
    </label>
    <input type="submit" value="Iniciar sesion" id="btn" [disabled]="!formTarjetas.form.valid" />
  </form>
  <div id="grupo">
    <ul>
      <li id="Forgot-pass"><a href="#">Olvide mi contraseña</a></li>
      <li>¿No tenes cuenta? <a id="Register" [routerLink]='["register"]'>Hacela
          acá</a></li>
    </ul>
  </div>
</div>
