<div class="wrap">
    <div class="second-wrap">
        <mat-card> 
            <div class="mat-div">
                <span>nombre o logo</span>
                <h2>Recuperacion de la contraseña</h2>
                <p>Ingrese su email o usuario para recuperar su contraseña</p>
                    <form class="email-form">
                        <mat-form-field class="email-full-width">
                        <mat-label>Usuario/Email</mat-label>
                        <input matInput [formControl]="emailFormControl">
                       <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error> -->
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          this  input is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="onSubmit()">Enviar</button>
                    </form>
            </div>
        </mat-card>
    </div>
</div>