<div [@animate]="animate" class="main-container">
  <div>
    <mat-form-field class="choose-room">
      <mat-label for="roomInput" style="color: white">Choose Room</mat-label>
      <select matNativeControl name="roomInput" id="roomInput" [(ngModel)]="room">
        <option value="Lobby">Lobby</option>
        <option value="Hall">Hall</option>
        <option value="Deluxe">Deluxe</option>
      </select>
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" class="btn" (click)="join()">Join</button>
    <button mat-raised-button color="primary" type="button" class="btn" (click)="leave()">Leave</button>
    <button mat-raised-button color="primary" type="button" class="btn" (click)="logOut()">Logout</button>
  </div>
  <div class="chatBox" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="textChat" *ngFor="let item of messageArray">
      <span [ngClass]="user.nick === item.user ? 'userMessage' : null">
        <strong>{{item.user}}: </strong> {{item.message}}
      </span>
    </div>
  </div>
  <form class="inputBox" [formGroup]="chatForm" (ngSubmit)="onSubmit(chatForm.value.chatBox)">
    <textarea class="inputChat" formControlName="chatBox"></textarea>
    <button mat-raised-button color="accent" class="sendButton" type="submit">Enviar</button>
  </form>
  <!-- <textarea class="inputChat" [(ngModel)]="message"></textarea> -->
  <!-- <input type="text" class="inputChat" [(ngModel)]="message"/>
      <button mat-raised-button color="accent" class="sendButton" (click)="sendMessage()">Enviar</button> -->
</div>