.chatBox{
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    position: absolute;
    top:20%;
    transform: translateY(-50%);
    transform: translateX(50%);
    border: 1px solid black;
    background: rgba(255,255,255,0.2);
}
.textChat{
    margin: 20px;
    padding:5px;
}
.inputBox{
    width: 74.5%;
    margin-top: 15%;
    position: absolute;
    top:52.5%;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}
.inputChat{
    width: 40%;
}
.sendButton{
    width: 10%;
    height: 33px;
}
